/* Importing Google Fonts */
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;600;700&family=Playfair+Display:wght@400;700&display=swap");

/* CSS Variables for easy theming */
:root {
  --primary-color: #f5f5f5;
  --secondary-color: #333;
  --accent-color: #808080;
  --text-color: #333;
  --background-color: #fff;
  --glow-color: rgba(255, 255, 255, 0.5);
  --transition-speed: 0.3s;
  --box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  --button-color: #3498db;
  --button-hover-color: #2980b9;
  --input-icon-color: #555;
  --error-color: #e74c3c;
}

/* Dark mode variables */
.dark-mode {
  --primary-color: #333;
  --secondary-color: #f5f5f5;
  --accent-color: #a0a0a0;
  --text-color: #f5f5f5;
  --background-color: #1a1a1a;
  --glow-color: rgba(0, 0, 0, 0.5);
  --box-shadow: 0 4px 6px rgba(255, 255, 255, 0.1);
  --button-color: #3498db;
  --button-hover-color: #2980b9;
  --input-icon-color: #a0a0a0;
  --error-color: #e74c3c;
}

/* Base styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Raleway", sans-serif;
  line-height: 1.6;
  color: var(--text-color);
  background-color: var(--background-color);
  transition: background-color var(--transition-speed),
    color var(--transition-speed);
  font-size: 14px;
}

.container {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
  text-align: center;
}

/* Typography */
h1,
h2,
h3 {
  font-family: "Playfair Display", serif;
  margin-bottom: 15px;
}

h1 {
  font-size: 1.8rem;
}

h2 {
  font-size: 1.5rem;
}

h3 {
  font-size: 1.2rem;
}

p {
  margin-bottom: 15px;
}

/* Floating Header */
header {
  background-color: var(--primary-color);
  box-shadow: var(--box-shadow);
  transition: top 0.3s ease;
  width: 100%;
  position: fixed; /* Fixed position to make it float */
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000; /* Ensure header stays on top */
}

/* Container inside the header */
header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
  height: 60px; /* Adjusted height */
}

.logo {
  flex: 1;
  text-align: center;
}

.logo h1 {
  font-size: 1.2rem;
  color: var(--secondary-color);
  margin: 0;
}

nav {
  flex: 2;
}

nav ul {
  display: flex;
  justify-content: center;
  list-style: none;
  margin: 0;
  padding: 0;
}

nav ul li {
  margin: 0 10px;
}

nav ul li a {
  color: var(--secondary-color);
  text-decoration: none;
  font-weight: 600;
  font-size: 0.9rem;
  transition: color var(--transition-speed);
  position: relative;
}

nav ul li a::after {
  content: "";
  position: absolute;
  width: 0;
  height: 2px;
  bottom: -5px;
  left: 0;
  background-color: var(--accent-color);
  transition: width var(--transition-speed);
}

nav ul li a:hover::after {
  width: 100%;
}

/* Dark mode toggle icon */
#dark-mode-icon {
  cursor: pointer;
  font-size: 1.5rem;
  color: var (--secondary-color);
  transition: color var(--transition-speed);
  margin-left: 20px;
}

#dark-mode-icon:hover {
  color: var(--accent-color);
}

/* Dark mode toggle and language switcher */
#dark-mode-icon {
  font-size: 1.2rem;
  margin: 0 5px;
  cursor: pointer;
  color: var(--secondary-color);
  transition: color var(--transition-speed);
}

#dark-mode-icon:hover {
  color: var(--accent-color);
}

/* Hamburger menu icon */
.menu-icon {
  display: block;
  font-size: 1.5rem;
  cursor: pointer;
  position: absolute;
  top: 12px;
  z-index: 1001;
}

.menu-icon.left {
  left: 20px;
}

.menu-icon.right {
  right: 20px;
}

/* Sliding menu */
.sliding-menu {
  display: block;
  position: fixed;
  top: 0;
  width: 250px;
  height: 100%;
  background-color: var(--background-color);
  box-shadow: var(--box-shadow);
  transition: transform var(--transition-speed), visibility 0s linear 0.3s;
  z-index: 1002;
  overflow-y: auto;
  visibility: hidden;
}

.sliding-menu.left {
  left: 0;
  transform: translateX(-100%);
}

.sliding-menu.left.open {
  transform: translateX(0);
  visibility: visible;
  transition: transform var(--transition-speed), visibility 0s;
}

.sliding-menu.right {
  right: 0;
  transform: translateX(100%);
}

.sliding-menu.right.open {
  transform: translateX(0);
  visibility: visible;
  transition: transform var(--transition-speed), visibility 0s;
}

.sliding-menu ul {
  list-style: none;
  padding: 20px;
  margin: 0;
  text-align: left;
}

.sliding-menu.right ul {
  text-align: right;
}

.sliding-menu ul li {
  margin-bottom: 20px;
}

.sliding-menu ul li a {
  color: var(--text-color);
  text-decoration: none;
  font-size: 1.2rem;
  transition: color var(--transition-speed);
}

.sliding-menu ul li a:hover {
  color: var(--accent-color);
}

.sliding-menu .close-icon {
  font-size: 1.5rem;
  cursor: pointer;
  position: absolute;
  top: 20px;
}

.sliding-menu .close-icon.left {
  left: 20px;
}

.sliding-menu .close-icon.right {
  right: 20px;
}

/* Sliding menu bottom section */
.menu-bottom {
  position: absolute;
  bottom: 20px;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

#language-switcher {
  display: flex;
  align-items: center;
}

#language-switcher i {
  margin-right: 10px;
}

#language-select {
  padding: 5px;
  border-radius: 5px;
  border: 1px solid var(--accent-color);
  background-color: var(--primary-color);
  color: var(--text-color);
}

#dark-mode-toggle {
  cursor: pointer;
  font-size: 1.5rem;
  color: var(--secondary-color);
  transition: color var(--transition-speed);
}

#dark-mode-toggle:hover {
  color: var(--accent-color);
}

/* Show menu icon and hide nav on small screens */
@media (max-width: 768px) {
  nav {
    display: none;
  }

  .menu-icon {
    display: block;
  }

  .sliding-menu {
    display: block;
  }

  .logo {
    flex: 1;
    text-align: center;
  }

  .logo h1 {
    margin: 0 auto;
  }

  .container {
    justify-content: space-between;
  }
}

/* Login Section */
.login-section {
  padding: 35px 0;
  background-color: var(--background-color);
  transition: background-color var(--transition-speed);
}

.login-section h2 {
  color: var(--text-color); /* Ensure this color contrasts with the background */
  margin-top: 0px; /* Adjust the value as needed */
}

.login-description {
  text-align: center;
  max-width: 600px;
  margin: 0 auto 30px;
  color: var(--text-color);
}

.login-form {
  max-width: 400px;
  margin: 0 auto;
  padding: 30px;
  background-color: var(--primary-color);
  border-radius: 10px;
  box-shadow: var(--box-shadow);
}

.form-group {
  margin-bottom: 20px;
}

.form-group label {
  display: block;
  margin-bottom: 5px;
  color: var(--text-color);
}

.input-icon-wrapper {
  position: relative;
}

.input-icon-wrapper i {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  color: var(--accent-color);
}

.input-icon-wrapper i:first-child {
  left: 10px;
}

.input-icon-wrapper i.toggle-password {
  right: 10px;
  cursor: pointer;
}

.input-icon-wrapper input {
  width: 100%;
  padding: 10px 40px;
  border: 1px solid var(--accent-color);
  border-radius: 5px;
  background-color: var(--background-color);
  color: var(--text-color);
}

/* Login Button Styles */
.login-btn {
  width: 100%;
  padding: 10px;
  background-color: var(--accent-color);
  color: var(--primary-color);
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color var(--transition-speed);
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.login-btn:hover {
  background-color: var(--secondary-color);
}

.login-btn span {
  transition: opacity 0.3s ease-in-out;
}

.login-btn i {
  margin-right: 10px; /* Add space between the spinner and the text */
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

/* Show spinner when loading */
.login-btn.loading span {
  opacity: 1; /* Keep the text visible */
}

.login-btn.loading i {
  opacity: 1;
}


.form-links {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.form-links a {
  color: var(--accent-color);
  text-decoration: none;
  font-size: 0.9em;
  transition: color var(--transition-speed);
}

.form-links a:hover {
  color: var(--secondary-color);
}

#loginMessage {
  margin-top: 20px;
  text-align: center;
  font-weight: bold;
}

/* Animations */
@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}

@keyframes slideIn {
  from { transform: translateY(-20px); opacity: 0; }
  to { transform: translateY(0); opacity: 1; }
}

.form-animation {
  animation: fadeIn 0.5s ease-out;
}

.message-animation {
  animation: slideIn 0.3s ease-out;
}

/* Responsive design for login form */
@media (max-width: 768px) {
  .login-form {
    padding: 20px;
  }
  
  .form-links {
    flex-direction: column;
    align-items: center;
  }
  
  .form-links a {
    margin-bottom: 10px;
  }
}


/* Footer styles */
footer {
  background-color: var(--primary-color);
  color: var(--text-color);
  padding: 20px 0;
  box-shadow: var(--box-shadow);
  transition: background-color var(--transition-speed), color var(--transition-speed);
}

footer .container {
  display: flex;
  justify-content: center; /* Center the content horizontally */
  align-items: center;
  flex-wrap: wrap;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
  text-align: center; /* Center the text */
}

footer p {
  margin: 0;
  font-size: 0.9rem;
}

footer a {
  color: var(--accent-color);
  text-decoration: none;
  transition: color var(--transition-speed);
}

footer a:hover {
  color: var(--secondary-color);
}

/* Responsive design for footer */
@media (max-width: 768px) {
  footer .container {
    flex-direction: column;
    text-align: center;
  }

  footer .social-icons {
    margin-top: 10px;
  }
}

/* Admin Info Styles */
#adminInfo {
  text-align: center;
  margin-top: 30px;
}

.admin-photo {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  object-fit: cover;
  margin-bottom: 20px;
  box-shadow: var(--box-shadow);
}

#adminInfo h3 {
  font-size: 1.5rem;
  color: var(--text-color);
}

#adminInfo p {
  font-size: 1rem;
  color: var(--text-color);
  margin: 5px 0;
}

/* Logout Button Styles */

main {
  margin-top: 60px; /* Adjust the value as needed */
}


/* CAPTCHA Styles */
.form-group {
  margin-bottom: 20px;
}

.form-group label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

.input-icon-wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#captchaCanvas {
  width: 100%; /* Full width of container */
  height: 50px; /* Fixed height */
  border: 1px solid var(--accent-color, #ccc);
  border-radius: 5px 5px 0 0;
  background-color: #f0f0f0; /* Light gray background */
  margin-bottom: 10px; /* Add bottom margin here */
}

#captchaInput {
  width: 100%;
  padding: 10px;
  border: 1px solid var(--accent-color, #ccc);
  border-radius: 5px; /* Changed to fully rounded corners */
  background-color: #ffffff;
  color: #333;
  font-family: 'Arial', sans-serif;
}

.captcha-refresh {
  position: absolute;
  right: 10px;
  top: 10px;
  cursor: pointer;
  color: var(--accent-color, #666);
  transition: color 0.3s;
}

#signOutButton {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%; /* Match parent width */
  background-color: #f44336; /* Initial background color */
  color: white; /* White text */
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s ease, transform 0.3s ease; /* Animation */
}

#signOutButton i {
  margin-right: 8px; /* Space between icon and text */
}

#signOutButton:hover {
  background-color: #d32f2f; /* Red when hovered */
  transform: scale(1.05); /* Slightly enlarge on hover */
}

.captcha-refresh:hover {
  color: #333;
}
