/* Importing Google Fonts */
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;600;700&family=Playfair+Display:wght@400;700&display=swap");

/* CSS Variables for easy theming */
:root {
  --primary-color: #f5f5f5;
  --secondary-color: #333;
  --accent-color: #808080;
  --text-color: #333;
  --background-color: #fff;
  --glow-color: rgba(255, 255, 255, 0.5);
  --transition-speed: 0.3s;
  --box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  --button-color: #3498db;
  --button-hover-color: #2980b9;
}

/* Dark mode variables */
.dark-mode {
  --primary-color: #333;
  --secondary-color: #f5f5f5;
  --accent-color: #a0a0a0;
  --text-color: #f5f5f5;
  --background-color: #1a1a1a;
  --glow-color: rgba(0, 0, 0, 0.5);
  --box-shadow: 0 4px 6px rgba(255, 255, 255, 0.1);
}

/* Base styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Raleway", sans-serif;
  line-height: 1.6;
  color: var(--text-color);
  background-color: var(--background-color);
  transition: background-color var(--transition-speed),
    color var(--transition-speed);
  font-size: 14px;
}

.container {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
  text-align: center;
}

/* Typography */
h1,
h2,
h3 {
  font-family: "Playfair Display", serif;
  margin-bottom: 15px;
}

h1 {
  font-size: 1.8rem;
}

h2 {
  font-size: 1.5rem;
}

h3 {
  font-size: 1.2rem;
}

p {
  margin-bottom: 15px;
}

/* Header styles */
header {
  background-color: var(--primary-color);
  box-shadow: var(--box-shadow);
  transition: top 0.3s ease;
  width: 100%;
}

header.floating {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  z-index: 1000;
}

header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
  height: 60px;
}

.logo {
  flex: 1;
  text-align: center;
}

.logo h1 {
  font-size: 1.2rem;
  color: var(--secondary-color);
  margin: 0;
}

nav {
  flex: 2;
}

nav ul {
  display: flex;
  justify-content: center;
  list-style: none;
  margin: 0;
  padding: 0;
}

nav ul li {
  margin: 0 10px;
}

nav ul li a {
  color: var(--secondary-color);
  text-decoration: none;
  font-weight: 600;
  font-size: 0.9rem;
  transition: color var(--transition-speed);
  position: relative;
}

nav ul li a::after {
  content: "";
  position: absolute;
  width: 0;
  height: 2px;
  bottom: -5px;
  left: 0;
  background-color: var(--accent-color);
  transition: width var(--transition-speed);
}

nav ul li a:hover::after {
  width: 100%;
}

/* Dark mode toggle icon */
#dark-mode-icon {
  cursor: pointer;
  font-size: 1.5rem;
  color: var (--secondary-color);
  transition: color var(--transition-speed);
  margin-left: 20px;
}

#dark-mode-icon:hover {
  color: var(--accent-color);
}

/* Dark mode toggle and language switcher */
#dark-mode-icon {
  font-size: 1.2rem;
  margin: 0 5px;
  cursor: pointer;
  color: var(--secondary-color);
  transition: color var(--transition-speed);
}

#dark-mode-icon:hover {
  color: var(--accent-color);
}

/* Hamburger menu icon */
.menu-icon {
  display: block;
  font-size: 1.5rem;
  cursor: pointer;
  position: fixed;
  top: 12px;
  z-index: 1001;
}

.menu-icon.left {
  left: 20px;
}

.menu-icon.right {
  right: 20px;
}

/* Sliding menu */
.sliding-menu {
  display: block;
  position: fixed;
  top: 0;
  width: 250px;
  height: 100%;
  background-color: var(--background-color);
  box-shadow: var(--box-shadow);
  transition: transform var(--transition-speed), visibility 0s linear 0.3s;
  z-index: 1002;
  overflow-y: auto;
  visibility: hidden;
}

.sliding-menu.left {
  left: 0;
  transform: translateX(-100%);
}

.sliding-menu.left.open {
  transform: translateX(0);
  visibility: visible;
  transition: transform var(--transition-speed), visibility 0s;
}

.sliding-menu.right {
  right: 0;
  transform: translateX(100%);
}

.sliding-menu.right.open {
  transform: translateX(0);
  visibility: visible;
  transition: transform var(--transition-speed), visibility 0s;
}

.sliding-menu ul {
  list-style: none;
  padding: 20px;
  margin: 0;
  text-align: left;
}

.sliding-menu.right ul {
  text-align: right;
}

.sliding-menu ul li {
  margin-bottom: 20px;
}

.sliding-menu ul li a {
  color: var(--text-color);
  text-decoration: none;
  font-size: 1.2rem;
  transition: color var(--transition-speed);
}

.sliding-menu ul li a:hover {
  color: var(--accent-color);
}

.sliding-menu .close-icon {
  font-size: 1.5rem;
  cursor: pointer;
  position: absolute;
  top: 20px;
}

.sliding-menu .close-icon.left {
  left: 20px;
}

.sliding-menu .close-icon.right {
  right: 20px;
}

/* Sliding menu bottom section */
.menu-bottom {
  position: absolute;
  bottom: 20px;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

#language-switcher {
  display: flex;
  align-items: center;
}

#language-switcher i {
  margin-right: 10px;
}

#language-select {
  padding: 5px;
  border-radius: 5px;
  border: 1px solid var(--accent-color);
  background-color: var(--primary-color);
  color: var(--text-color);
}

#dark-mode-toggle {
  cursor: pointer;
  font-size: 1.5rem;
  color: var(--secondary-color);
  transition: color var(--transition-speed);
}

#dark-mode-toggle:hover {
  color: var(--accent-color);
}

/* Show menu icon and hide nav on small screens */
@media (max-width: 768px) {
  nav {
    display: none;
  }

  .menu-icon {
    display: block;
  }

  .sliding-menu {
    display: block;
  }

  .logo {
    flex: 1;
    text-align: center;
  }

  .logo h1 {
    margin: 0 auto;
  }

  .container {
    justify-content: space-between;
  }
}

/* Products Section */
.products-section {
  padding: 20px 0;
  background-color: var(--background-color);
  transition: background-color var(--transition-speed);
  margin-bottom: 20px;
}

.products-section h2 {
  font-size: 1.8rem;
  margin-bottom: 40px;
}

.search-box {
  display: flex;
  justify-content: center;
  margin-bottom: 40px;
}

.search-box input {
  padding: 10px;
  font-size: 1rem;
  border: 1px solid var(--accent-color);
  border-radius: 5px 0 0 5px;
  outline: none;
  width: 300px;
}

.search-box button {
    padding: 10px;
    font-size: 1rem;
    border: 1px solid var(--accent-color);
    border-left: none;
    background-color: var(--accent-color);
    color: #fff;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
    transition: background-color var(--transition-speed);
  }

  .search-box button:hover {
    background-color: var(--secondary-color);
  }

  .product-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 30px;
  }

  .product {
    background-color: var(--primary-color);
    border-radius: 10px;
    overflow: hidden;
    box-shadow: var(--box-shadow);
    transition: transform var(--transition-speed), box-shadow var(--transition-speed);
  }

  .product:hover {
    transform: translateY(-10px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  }

  .product img {
    width: 100%;
    height: 250px;
    object-fit: cover;
    transition: transform var(--transition-speed);
  }

  .product:hover img {
    transform: scale(1.1);
  }

  .product h3,
  .product p {
    padding: 20px;
    text-align: center;
  }

  /* Footer */
  footer {
    background-color: var(--secondary-color);
    color: var(--primary-color);
    text-align: center;
    padding: 20px 0px;
    transition: background-color var(--transition-speed), color var(--transition-speed);
  }

  footer a {
    color: var(--accent-color);
    text-decoration: none;
    transition: color var(--transition-speed);
  }

  footer a:hover {
    color: var(--primary-color);
  }

  /* Responsive design */
  @media (max-width: 768px) {
    .container {
      width: 100%;
      padding: 0 15px;
    }

    header .container {
      flex-wrap: nowrap;
      height: 60px;
    }

    .logo {
      flex: 1;
      text-align: center;
    }

    nav {
      flex: 2;
    }

    nav ul {
      justify-content: flex-end;
    }

    .product-grid {
      grid-template-columns: repeat(2, 1fr);
    }
  }

  /* Ensure product items are square-shaped */
.product {
    position: relative;
    width: 100%;
    padding-top: 100%; /* 1:1 Aspect Ratio */
    overflow: hidden;
    background-color: var(--primary-color);
    box-shadow: var(--box-shadow);
    transition: transform var(--transition-speed), box-shadow var(--transition-speed);
  }

  .product img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform var(--transition-speed);
  }

  .product:hover {
    transform: translateY(-10px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  }

  .product:hover img {
    transform: scale(1.1);
  }

  .product h3,
  .product p {
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 10px;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.6); /* Darker background for better contrast */
    color: #fff; /* White text color */
    margin: 0;
    font-size: 1rem;
    transition: font-size var(--transition-speed);
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.8); /* Add text shadow for readability */
  }

  /* Responsive design */
  @media (max-width: 768px) {
    .product-grid {
      grid-template-columns: repeat(2, 1fr); /* Show 2 items per line */
    }

    .product h3,
    .product p {
      font-size: 0.9rem; /* Adjust font size for smaller screens */
    }
  }

  @media (min-width: 769px) and (max-width: 1024px) {
    .product-grid {
      grid-template-columns: repeat(3, 1fr); /* Show 3 items per line */
    }

    .product h3,
    .product p {
      font-size: 1rem; /* Adjust font size for medium screens */
    }
  }

  @media (min-width: 1025px) {
    .product-grid {
      grid-template-columns: repeat(4, 1fr); /* Show 4 items per line */
    }

    .product h3,
    .product p {
      font-size: 1.1rem; /* Adjust font size for large screens */
    }
  }

  /* Adjusting the search box styles */
.search-box {
    display: flex;
    align-items: center;
    margin-bottom: 40px;
    justify-content: center; /* Center the search box */
  }

  .search-box input {
    padding: 12px 20px;
    font-size: 1rem;
    border: 2px solid var(--accent-color);
    border-radius: 5px 0 0 5px;
    outline: none;
    width: 350px; /* Increase the width */
    transition: border-color var(--transition-speed), background-color var(--transition-speed);
    background-color: var(--primary-color); /* Match the background color */
    color: var(--text-color); /* Match the text color */
  }

  .search-box button {
    padding: 12px 20px;
    font-size: 1rem;
    border: 2px solid var(--accent-color);
    border-left: none;
    background-color: var(--accent-color);
    color: var(--primary-color); /* Match the primary color */
    border-radius: 0 5px 5px 0;
    cursor: pointer;
    transition: background-color var(--transition-speed), color var(--transition-speed);
  }

  .search-box button:hover {
    background-color: var(--secondary-color);
    color: var(--primary-color); /* Match the primary color */
  }

  /* Positioning the search box next to the title */
  .products-section h2 {
    display: inline-block;
    margin-right: 20px;
    vertical-align: middle;
  }

  .search-box {
    display: inline-block;
    vertical-align: middle;
  }

  /* Responsive adjustments */
  @media (max-width: 768px) {
    .search-box {
      display: block;
      margin: 20px auto;
    }

    .search-box input {
      width: 100%;
      border-radius: 5px;
    }

    .search-box button {
      width: 100%;
      border-radius: 5px;
      margin-top: 10px;
    }

    .products-section h2 {
      display: block;
      margin-bottom: 20px;
    }
  }

/* Sign Out button styles */
#signOutButton {
  background-color: var(--button-color);
  color: var(--primary-color);
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color var(--transition-speed);
}

#signOutButton:hover {
  background-color: var(--button-hover-color);
}
